@model IEnumerable<SimplifiedMortgageRefi.Models.Applications_Customers>

@{
    ViewData["Title"] = "Index";
    Layout = "_LenderLayout";
}

<h1>Index</h1>


<table class="table mt-3" id="myTable">
    <thead>
        <tr>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Credit Score
            </th>
            <th>
                Loan-To-Value
            </th>
            <th>
                Debt-To-Income
            </th>
            <th>
                Last Contacted
            </th>
            <th>
                Options
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.CreditScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Application.Property.LoanToValue)%
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Application.Property.DebtToIncome)%
            </td>
            <td>
                @if (!item.Application.Contacts.Any())
                {
                    <text>No contact yet</text>

                }
                else
                {
                    @Html.DisplayFor(modelItem => item.Application.Contacts.Last().DateTime);


                }
            </td>

            <td>
                @*<a asp-action="Edit" asp-route-id="@item.ApplicationId">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.ApplicationId">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.ApplicationId">Delete</a>*@
                <a asp-controller="Contacts" asp-action="Create" asp-route-id="@item.ApplicationId">Contact</a>
                @*<a asp-action="Create" asp-route-id="Contacts/@item.ApplicationId">Contact</a>*@
            </td>
        </tr>
        }
    </tbody>
</table>
