@model SimplifiedMortgageRefi.Models.CreateCustomerViewModel

@{
    Layout = "_CustomerLayout";
    ViewData["Title"] = "Create Your Profile";
}
<body class="bg-primary py-5 mb-5 fade-in">

    <div class="container">
        @*<header class="bg-primary py-5 mb-5">
            <div class="container h-100">
                <div class="row h-100 align-items-center">*@
        <div class="col-lg-12">
            <h5 class="display-4 text-white mt-5 mb-2">Just the basics first</h5>
        </div>
        @*</div>
                </div>
            </header>*@
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-6 d-none d-lg-block bg-create-image"></div>

                    <div class="col-lg-6">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Tell us about you</h1>
                            </div>
                            <hr />
                            <div class="row">
                                <div>
                                    <form asp-action="Create" id="form">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                        <div class="form-group row">
                                            <div class="col-sm-6 mb-3 mb-sm-0">
                                                @*<label asp-for="@Model.Customer.FirstName" class="control-label"></label>*@
                                                <input asp-for="@Model.FirstName" class="form-control form-control-user" placeholder="First Name" />
                                                <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
                                            </div>
                                            <div class="col-sm-6">
                                                @*<label asp-for="@Model.Customer.LastName" class="control-label"></label>*@
                                                <input asp-for="@Model.LastName" class="form-control form-control-user" placeholder="Last Name" />
                                                <span asp-validation-for="@Model.LastName" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @*<label asp-for="@Model.Address.Street" class="control-label"></label>*@
                                            <input asp-for="@Model.Street" class="form-control" placeholder="Street Address" />
                                            <span asp-validation-for="@Model.Street" class="text-danger"></span>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-5 mb-3 mb-sm-0">
                                                <input asp-for="@Model.City" class="form-control form-control-user" placeholder="City" />
                                                <span asp-validation-for="@Model.City" class="text-danger"></span>
                                            </div>
                                            <div class="col-sm-4">
                                                @*<label asp-for="@Model.Address.StateId" class="control-label"></label>*@
                                                <select asp-for="@Model.StateId" class="form-control form-control-user" asp-items=ViewBag.States placeholder="Select"></select>
                                            </div>

                                            <div class="col-sm-3">
                                                @*<label class="control-label">Zip</label>*@
                                                <input asp-for="@Model.ZipCode" class="form-control form-control-user" placeholder="Zip" />
                                                <span asp-validation-for="@Model.ZipCode" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">What is the value of your home in today's market?</label>
                                            <input name="AssessedValue" class="form-control form-control-user" id="value" />
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label">What is your monthly income?</label>
                                            <input name="MonthlyIncome" class="form-control form-control-user" id="income" />
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Credit Score</label>
                                            <select asp-for="@Model.CreditScore" class="form-control form-control-user" style="width:100%">
                                                <option selected="selected" value="0">Choose a FICO score range</option>
                                                <option value="740">Excellent (740 and above)</option>
                                                <option value="700">Very Good (700-739)</option>
                                                <option value="660">Good (660-699)</option>
                                                <option value="620">Fair (620-659)</option>
                                                <option value="619">Other (619 and below)</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">What is your goal in refinancing your mortgage?</label>
                                            <select asp-for="@Model.PurposeId" class="form-control form-control-user" asp-items="ViewBag.Purposes"></select>
                                        </div>
                                        @*<div class="form-group">
                                                <label class="control-label">Please select the property type of this home.</label>
                                                <select asp-for="@Model.Property.PropertyTypeId" class="form-control form-control-user" asp-items="ViewBag.PropertyTypes"></select>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">What is your goal in refinancing your mortgage?</label>
                                                <select asp-for="@Model.LoanProfile.PurposeId" class="form-control form-control-user" asp-items="ViewBag.Purposes"></select>
                                            </div>*@
                                        <div>

                                        </div>
                                        <br />

                                        <div class="form-group">
                                            <input type="submit" value="Next" class="btn btn-primary" />
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


<div>
    <a asp-action="Index"></a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
