@model SimplifiedMortgageRefi.ViewModels.IndexCustomerViewModel

@{
    Layout = "_CustomerDashboard";
    ViewData["Title"] = "Index";
}

@*<body>*@
<!-- Topbar -->
<!----////////////////////// -->
<!-- End of Topbar -->
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
        @*<a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>*@
    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Earnings (Monthly)</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">$40,000</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Earnings (Annual)</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">$215,000</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Tasks</div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                                </div>
                                <div class="col">
                                    <div class="progress progress-sm mr-2">
                                        <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Pending Requests</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Content Row -->

    <div class="row">
        <div class="col-xl-4 col-lg-5">
            <!-- Bar Chart -->
            <div class="card shadow mb-4">

                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Savings</h6>
                </div>
                <div class="card-body">
                    <div class="chart-bar">
                        <canvas id="myBarChart"></canvas>

                    </div>
                </div>
            </div>
        </div>

    </div>





    <!-- Content Row -->
    <div class="row">
        <!-- Pie Chart -->
        <div class="col-xl-4 col-lg-4">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Total Mortgage Costs: </h6>
                    @*<div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>*@
                        <div class="dropdown no-arrow">
                            <a class="dropdown-toggle" href="#piechart" role="button" id="dropdownMenuLink" data-toggle="collapse" aria-haspopup="true" aria-expanded="true">
                                <i class="fas fa-angle-double-up text-gray-400"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                                <div class="dropdown-header">Dropdown Header:</div>
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                    </div>
                <!-- Card Body -->
                <div class="collapsing-in" id="piechart">
                    <div class="card-body">
                        <div class="chart-pie pt-4 pb-2">
                            <canvas id="labelChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-4 col-lg-4">

            <!-- Project Card Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Current Mortgage Details</h6>
                </div>
                <div class="p-3">


                    <form class="user">
                        @*<div class="row">
                            <div class="col-md-4">
                                <div class="form-group row">
                                    <label for="example" class="col-form-label col-sm-5 text-gray-900">Balance</label>
                                    <div class="input-group col-sm-7">
                                        <div class="input-group-prepend bg-primary border-primary">
                                            <span class="input-group-text bg-transparent text-white">$</span>
                                        </div>
                                        <input type="text" class="form-control text-gray-900" aria-label="Amount (to the nearest dollar)">
                                        <div class="input-group-append bg-primary border-primary">
                                            <span class="input-group-text bg-transparent text-white">.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label for="example" class="col-form-label text-gray-900">Rate</label>
                                    <div class="input-group col-sm-5">
                                        <div class="input-group-prepend bg-primary border-primary">
                                            <span class="input-group-text bg-transparent text-white">%</span>
                                        </div>
                                        <input type="text" class="form-control text-gray-900" aria-label="Amount (to the nearest dollar)" placeholder="0.00">
                                    </div>
                                </div>
                            </div>
                        </div>*@
                        @*<form class="form-sample">
                        <p class="card-description"> Personal info </p>*@
                        @*<div class="row">*@

                        <!-- Mortgage Calculator Widget -->
                        @*<div class="mcw-wrap_250" id="maoWrap">
                            <div id="mcwWidget"></div>
                            <script>var maoCalc = {}; maoCalc.settings = { "theme": "theme1", "view": "vertical1", "responsive": "mcw-wrap_250", "font": "Open Sans, Helvetica, Arial, sans-serif", "border": false, "boxShadow": true, "backgroundColor": "#fff", "fieldColor": "#fff", "textColor": "#334356", "borderColor": "#dde2e5", "currency": "$", "currencySide": "left", "delimiters": ",.", "popup": false, "popupView": "barPopup", "style": true, "widgetTotalInterest": true, "widgetTotalPrincipal": true, "monthlyPayment": "Monthly Payment", "totalPrincipalPaid": "Total Principal", "totalInterestPaid": "Total Interest", "totalPayments": "Total Payments", "years": "years", "title": { "enabled": true, "color": "#334356", "label": "Mortgage Calculator" }, "homePrice": { "label": "Home Price", "value": "350,000" }, "downPayment": { "enabled": false, "label": "Down Payment", "value": false }, "interestRate": { "label": "Interest Rate", "value": "4.05" }, "mortgageTerm": { "label": "Mortgage Term", "value": "30" }, "pmi": { "enabled": false, "label": "PMI", "value": false }, "taxes": { "enabled": true, "label": "Taxes", "value": "4,375" }, "insurance": { "enabled": true, "label": "Insurance", "value": "1,225" }, "hoa": { "enabled": false, "label": "HOA", "value": false }, "extra": { "enabled": false, "labelAdd": "Add extra payments", "labelRemove": "Remove extra payments", "labelToMonthy": "To monthly", "labelYearly": "Extra yearly" }, "startDate": { "enabled": true, "label": "Start Date" }, "monthsArr": ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"], "button": { "color": "#fff", "bg": "#09f", "label": "Calculate" }, "amortizationSchedule": "Amortization Schedule", "popupLabels": { "monthlyPrincipalInterest": "Monthly Principal & Interest", "monthlyExtraPayment": "Monthly Extra Payment", "monthlyPayment": "MONTHLY PAYMENT", "downPayment": "Down payment", "extraPayments": "Extra payments", "totalPrincipalPaid": "Total principal paid", "totalInterestPaid": "Total interest paid", "totalOfAllPayments": "TOTAL OF ALL PAYMENTS", "amortizationSchedule": "Amortization Schedule", "tablePaymentDate": "Payment date", "tablePayment": "Payment", "tablePrincipal": "Principal", "tableInterest": "Interest", "tableTotalInterest": "Total Interest", "tableBalance": "Balance", "pmi": "PMI", "taxes": "Taxes", "insurance": "Insurance", "shortInsurance": "Ins", "hoa": "HOA", "chartBalance": "Balance", "chartPrincipal": "Principal", "chartInterest": "Interest" }, "useTitleAsLink": false, "titleLinkUrl": "", "useFooterLink": false, "footerLinkAnchor": "", "footerLinkUrl": "" }; (function () { function loadScript(src) { var s, t; s = document.createElement("script"); s.src = src; t = document.getElementsByTagName("script")[0]; t.parentNode.insertBefore(s, t); } function decode(str) { return !window.btoa ? 'not_found' : window.btoa(unescape(encodeURIComponent(str))); } var uri = 'https://mortgage-advice-online.org/widget/' + decode(window.location) + '.js'; loadScript(uri); })();</script>
                        </div> End Mortgage Calculator Widget*@

                        <div class="col-md-12">
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">Balance $</label>
                                <div class="col-sm-7">
                                    @Html.DisplayFor(Model => Model.Property.MortgageBalance)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">Original Balance $</label>
                                <div class="col-sm-7" id="amount">
                                    @Html.DisplayFor(Model => Model.Property.OriginalMortgageBalance)
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">Rate</label>
                                <div class="col-sm-7" id="rate">
                                    @Html.DisplayFor(Model => Model.Property.Rate)
                                </div>
                            </div>
                        </div>
                        @*</div>*@
                        @*<div class="row">*@
                        <div class="col-md-12">
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">Term (years)</label>
                                <div class="col-sm-7" id="term">
                                    @Html.DisplayFor(Model => Model.Property.Term)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">Start Date</label>
                                <div class="col-sm-7" id="startdate">
                                    @Html.DisplayFor(Model => Model.Property.OriginationDate)
                                </div>
                            </div>
                        </div>
                        @*</div>*@
                        @*<div class="row">*@
                        <div class="col-md-12">
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">Taxes (monthly)</label>
                                <div class="col-sm-7">
                                    @Html.DisplayFor(Model => Model.Property.MonthlyPropertyTax)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">Ins (monthly)</label>
                                <div class="col-sm-7">
                                    @Html.DisplayFor(Model => Model.Property.MonthlyHOIPremium)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">Total Payment</label>
                                <div class="col-sm-7">
                                    <span class="output" id="totalpayment"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">Total Interest</label>
                                <div class="col-sm-7">
                                    <span class="output" id="totalinterest"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row p-3">
                            <input type="submit" value="Edit" class="btn btn-primary btn-block" />
                        </div>
                    </form>
                </div>
            </div>
        </div>

            <partial name="LoanProfiles" />
    </div>
        <!-- Color System -->
        <div class="row">
            <!-- Content Column -->
            <div class="col-lg-6 mb-4">

                <!-- Project Card Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Projects</h6>
                    </div>
                    <div class="card-body">
                        <h4 class="small font-weight-bold">Server Migration <span class="float-right">20%</span></h4>
                        <div class="progress mb-4">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <h4 class="small font-weight-bold">Sales Tracking <span class="float-right">40%</span></h4>
                        <div class="progress mb-4">
                            <div class="progress-bar bg-warning" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <h4 class="small font-weight-bold">Customer Database <span class="float-right">60%</span></h4>
                        <div class="progress mb-4">
                            <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <h4 class="small font-weight-bold">Payout Details <span class="float-right">80%</span></h4>
                        <div class="progress mb-4">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <h4 class="small font-weight-bold">Account Setup <span class="float-right">Complete!</span></h4>
                        <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-lg-6 mb-4">




            </div>
        </div>

    </div>


<!-- /.container-fluid -->
@*</body>*@



@*<p>
        <a asp-action="AddProperty">Add New Property</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>
                    @Html.DisplayFor(model => model.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(model => model.LastName)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@Model.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
                </td>
            </tr>

        </tbody>

    </table>*@
<script src="~/theme/lib/jquery/jquery.min.js" type="text/javascript"></script>
<script src="~/theme/vendor/chart.js/Chart.min.js"></script>
<script src="~/theme/js/demo/chartjs-datalabels.js"></script>
<script src="~/js/site.js"></script>
<script async defer type="text/javascript">
    var principal = @Model.Property.OriginalMortgageBalance;
    var interest = @Model.Property.Rate / 100 / 12;
    var payments = @Model.Property.Term * 12;
    var interesttotal;
    var totaltaxes = @Model.Property.MonthlyPropertyTax * payments;
    var totalinsurance = @Model.Property.MonthlyHOIPremium * payments;
    //$(document).ready(function () {

        // Now compute the monthly payment figure.
        var x = Math.pow(1 + interest, payments); // Math.pow() computes powers

        var monthly = (principal * x * interest) / (x - 1);
        if (isFinite(monthly)) {
            totalpayment.innerHTML = "$" + addCommas((monthly * payments).toFixed(2));
            totalinterest.innerHTML = "$" + addCommas(((monthly * payments) - principal).toFixed(2));
            interesttotal = parseFloat(((monthly * payments) - principal).toFixed(2));
        };

    //});
    console.log(principal);
    console.log(interest);

    var ctxP = document.getElementById("labelChart").getContext('2d');
    var myPieChart = new Chart(ctxP, {
        plugins: [ChartDataLabels],
        type: 'pie',
        data: {
            labels: ["Principal", "Interest", "Taxes", "Insurance"],
            datasets: [{
                data: [principal, interesttotal, totaltaxes, totalinsurance],
                backgroundColor: ["#F7464A", "#46BFBD", "#FDB45C", "#949FB1"],
                hoverBackgroundColor: ["#FF5A5E", "#5AD3D1", "#FFC870", "#A8B3C5"]
            }]
        },
        options: {
            responsive: true,
            legend: {
                position: 'right',
                labels: {
                    padding: 20,
                    boxWidth: 10
                }
            },
            plugins: {
                datalabels: {
                    formatter: (value, ctx) => {
                        let sum = 0;
                        let dataArr = ctx.chart.data.datasets[0].data;
                        dataArr.map(data => {
                            sum += data;
                        });
                        let percentage = "$" + addCommas(value);
                        return percentage;
                    },
                    color: 'white',
                    labels: {
                        title: {
                            font: {
                                size: '16'
                            }
                        }
                    }
                }
            }
        }
    });


    //var ctx = document.getElementById("myPieChart");
    //var myPieChart = new Chart(ctx, {
    //    type: 'doughnut',
    //    data: {
    //        labels: ["Principal", "Interest", "Taxes"],
    //        datasets: [{
    //            data: [55, 30, 15],
    //            backgroundColor: ['#4e73df', '#1cc88a', '#36b9cc'],
    //            hoverBackgroundColor: ['#2e59d9', '#17a673', '#2c9faf'],
    //            hoverBorderColor: "rgba(234, 236, 244, 1)",
    //        }],
    //    },
    //    options: {
    //        maintainAspectRatio: false,
    //        tooltips: {
    //            backgroundColor: "rgb(255,255,255)",
    //            bodyFontColor: "#858796",
    //            borderColor: '#dddfeb',
    //            borderWidth: 1,
    //            xPadding: 15,
    //            yPadding: 15,
    //            displayColors: false,
    //            caretPadding: 10,
    //        },
    //        legend: {
    //            display: false
    //        },
    //        cutoutPercentage: 80,
    //    },
    //});

</script>

