@model SimplifiedMortgageRefi.ViewModels.IndexCustomerViewModel

@if (Model.LoanProfiles.FirstOrDefault().LoanAmount == 0)
{
    <div class="col-xl-4 col-lg-4">
        <!-- Project Card Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-warning">Refinance Option 1 Details</h6>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#mtgDetails" role="button" id="dropdownMenuLink" data-toggle="collapse" aria-haspopup="true" aria-expanded="true">
                        @*<i class="fas fa-angle-double-up text-success"></i>*@
                        <i class="fas fa-angle-double-down text-warning"></i>
                    </a>
                </div>
            </div>
            <div class="p-3 collapse" id="mtgDetails">
                <form class="user" asp-action="EditLoanProfile">
                    <input type="hidden" asp-for="LoanProfiles.FirstOrDefault().Id" />
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label class="col-sm-5 col-form-label">New Loan Amount</label>
                            <div class="col-sm-7">
                                <input type="text" name="LoanAmount" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label class="col-sm-5 col-form-label">Rate</label>
                            <div class="col-sm-7">
                                <input type="text" name="Rate" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label class="col-sm-5 col-form-label">Term (years)</label>
                            <div class="col-sm-7">
                                <input type="text" name="Term" class="form-control" placeholder="e.g. 30">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label class="col-sm-5 col-form-label">Closing Costs Not Financed (Paid At Close)</label>
                            <div class="col-sm-7">
                                <input type="text" name="ClosingCost" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row p-3">
                        <input type="submit" value="Save" class="btn btn-primary btn-block" />
                    </div>
                </form>

            </div>
        </div>
    </div>
}
else
{

    <div class="col-xl-4 col-lg-4">
        <!-- Project Card Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-warning">Refinance Option 1 Details</h6>

                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#mtgDetails" role="button" id="dropdownMenuLink" data-toggle="collapse" aria-haspopup="true" aria-expanded="true">
                        @*<i class="fas fa-angle-double-up text-success"></i>*@
                        <i class="fas fa-angle-double-down text-warning"></i>
                    </a>
                </div>
            </div>
            <div class="p-3 collapse" id="mtgDetails">
                <input type="hidden" asp-for="LoanProfiles.FirstOrDefault().Id" />
                <div class="col-md-12">
                    <div class="form-group row">
                        <label class="col-sm-5 col-form-label">Total Loan Cost</label>
                        <div class="col-sm-7">
                            <span class="output" id="totalpayment1"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group row">
                        <label class="col-sm-5 col-form-label">Principal Balance</label>
                        <div class="col-sm-7">
                            $@Html.DisplayFor(Model => Model.LoanProfiles.FirstOrDefault().LoanAmount)
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group row">
                        <label class="col-sm-5 col-form-label">Total Interest</label>
                        <div class="col-sm-7">
                            <span class="output" id="totalinterest1"></span>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group row">
                        <label class="col-sm-5 col-form-label">Monthly Payment (Principal & Interest)</label>
                        <div class="col-sm-7">
                            <span class="output" id="monthlypayment1"></span>
                        </div>
                    </div>
                </div>
                <hr />


                <div class="col-md-12">
                    <div class="form-group row">
                        <label class="col-sm-5 col-form-label">Rate</label>
                        <div class="col-sm-7">
                            @Html.DisplayFor(Model => Model.LoanProfiles.FirstOrDefault().Rate)%
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group row">
                        <label class="col-sm-5 col-form-label">Term (years)</label>
                        <div class="col-sm-7">
                            @Html.DisplayFor(Model => Model.LoanProfiles.FirstOrDefault().Term)
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group row">
                        <label class="col-sm-5 col-form-label">Closing Costs Not Financed (Paid At Close)</label>
                        <div class="col-sm-7">
                            $@Html.DisplayFor(Model => Model.LoanProfiles.FirstOrDefault().ClosingCost)
                        </div>
                    </div>
                </div>
                <div class="form-group row p-3">
                    <input type="submit" value="Edit" class="btn btn-primary btn-block" />
                </div>

            </div>
        </div>


        @foreach (var item in Model.Liabilities)
        {

            <div class="mb-4 mt-0">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Lender</div>
                                <div class="h5 mb-0 text-gray-800">@item.LenderName</div>
                            </div>
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Balance</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">@item.Balance</div>
                            </div>
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Payment</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">@item.Payment</div>
                            </div>
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Consolidate</div>
                                
                                    <input type="checkbox" class="savings" value="@item.Payment" onchange="calculateSavings();" />
                            </div>
                            @*<div class="col-auto">
            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
        </div>*@
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}



